<form id="message-form" class="pure-form pure-form-stacked" action="/message/new" method="post">
	<input id="message-recipient" name="messagerecipient" type="email" placeholder="Recipient...">
	<input id="message-title" name="messagetitle" type="text" placeholder="Title here...">
	<textarea id="message-body" name="messagebody" type="text" placeholder="Message here...">
	<input id="message-tags" name="messagekeywords" type="text" placehodler="Tags...">
	<input id="message-signature" name="messageauthor" type="text" placeholder="Sign your name (optional)">
	<input id="message-delivery-time" name="messagedeliverytime" type="datetime-local" placeholder="Delivery time">
	<button id="submit-button" type="submit" class="pure-button pure-button-primary">Submit</button>
</form>[% RETURN %]